AURIX_RUNTIME_PROFILE=WINDOWS_FOREX_VPS
AURIX_HOST=127.0.0.1
AURIX_PORT=8765
AURIX_DASHBOARD_READ_ONLY=true
AURIX_LIVE_EXECUTION_ENABLED=false
AURIX_DEMO_BROKER_EXECUTION_ENABLED=false
AURIX_COMMAND_QUEUE_ENABLED=false
AURIX_REQUIRE_API_KEY_FOR_REMOTE=true
AURIX_API_KEY=
AURIX_SYMBOL=XAUUSDm
AURIX_TERMINAL_ID=AURIX-VPS-001
AURIX_DATA_DIR=data
AURIX_RELOAD=false
